@model IEnumerable<GammaClient.ViewModels.MarkVM>
@inject GammaClient.Services.MemberClient _memberClient;

@{
    ViewData["Title"] = "Note";
    var studentName = ViewBag.studentName;
    var courseName = ViewBag.courseName;
    var studentid = ViewBag.studentid;
    var courseid = ViewBag.courseid;
    var member = await _memberClient.GetCurrentClient();
}

<div style="background-color:#18A7B5" class="container-fluid text-white pt-3 pb-4">
    <div class="container">
        <h2>Note la disciplina @courseName</h2>
    </div>
</div>
<div class="container mt-3 pb-3">

    @if (Model.Any())
    {
        <div class="table-responsive-sm">
            <table class="table border-dark">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Value)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Note)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Value)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Note)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    }
    else
    {
        <p>Nu ați adăugat nicio notă</p>
    }
    <br />
    <a asp-controller="Student" asp-action="Index">Înapoi la lista de cursuri</a>
</div>
@section Scripts {
    <script src="~/js/removeNavbarCollapse.js"></script>
    <script src="~/js/colorStudentPage.js"></script>
    @if (member != null)
    {
        <script>
            var popi = document.getElementById("popi");
            popi.title = '<span class="text-center d-block">@member.UserName</span>';
            popi.setAttribute("data-content",
                '<!DOCTYPE html><html><p class="text-center">@member.FirstName @member.LastName</p>' +
                '<a href="../Account/Logout" class="btn btn-outline-light btn-outline-blue">Deconectare</a></html>');
        </script>
    }
    else
    {
        <script>
            location.href = "../Account/Login";
        </script>
    }
}
