@model List<GammaClient.ViewModels.StudentVM>
@inject GammaClient.Services.MemberClient _memberClient;

@{
    ViewData["Title"] = "AddStudents";
    var schoolName = ViewBag.showStudentsSchool;
    var schoolId = ViewBag.schoolId;
    var member = await _memberClient.GetCurrentClient();
}

<div class="container mt-3 pb-3">
    <h2 class="text-primary">@schoolName</h2>
    <h4 class="text-primary">Adaugați studenți în catalogul instituției</h4>
    <hr class="border-primary" />

    @if (Model.Any())
    {
        <form method="post" asp-action="AddStudents">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="d-flex flex-column align-items-start">
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <div class="custom-control custom-checkbox d-inline">
                                <input type="hidden" asp-for="@Model[i].FirstName" />
                                <input type="hidden" asp-for="@Model[i].LastName" />
                                <input type="hidden" asp-for="@Model[i].MemberId" />
                                <input type="checkbox" class="custom-control-input" asp-for="@Model[i].IsSelected" />
                                <label class="custom-control-label text-primary" asp-for="@Model[i].IsSelected">
                                    @Model[i].FirstName @Model[i].LastName
                                </label>
                            </div>
                        }
                    </div>
                    <input type="hidden" asp-for="@schoolId" />
                    <div class="form-group mt-5">
                        <input type="submit" value="Salvează modificările" class="btn btn-outline-primary" />
                    </div>

                    <div>
                        <p class="error-message">@TempData["addStudentsErrorMessage"]</p>
                    </div>
                </div>
            </div>
        </form>
    }
    else
    {
        <p class="text-primary">Nu mai există studenți înscriși</p>
    }
    <div>
        <a class="btn btn-outline-primary mt-auto" asp-action="ShowStudents" asp-route-schoolid="@schoolId">Înapoi la lista de studenți</a>
    </div>
</div>

@section Scripts {
    <script src="~/js/removeNavbarCollapse.js"></script>
    <script src="~/js/colorPrincipalPage.js"></script>
    @if (member != null)
    {
        <script>
        popi = document.getElementById("popi");
        popi.title = '<span class="text-center d-block">@member.UserName</span>';
        popi.setAttribute("data-content",
            '<!DOCTYPE html><html><p class="text-center">@member.FirstName @member.LastName</p>' +
            '<a href="../Account/Logout" class="btn btn-dark text-light">Deconectare</a></html>');
        </script>
    }
    else
    {
        <script>
            location.href = "../Account/Login";
        </script>
    }
}