@model IEnumerable<GammaClient.ViewModels.TeacherVM>
@inject GammaClient.Services.MemberClient _memberClient;

@{
    ViewData["Title"] = "Profesori";
    var schoolName = ViewBag.showTeachersSchool;
    var schoolId = ViewBag.schoolId;
    var member = await _memberClient.GetCurrentClient();
}


<div class="container-fluid bg-primary text-light pt-3 pb-4">
    <div class="container">
        <h2 class="text-white">@schoolName</h2>
        <hr class="border-white"/>
        <h4 class="text-white">Cadre didactice</h4>
    </div>
</div>
<div class="container mt-3 pb-3">
    @if (Model.Any())
    {
        <div class="table-responsive-sm">
            <table class="table text-primary border-primary">
                <thead>
                    <tr>
                        <th>
                            Profesor
                        </th>
                        <th>
                            Departament
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="text-primary">
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Department)
                            </td>
                            <td>
                                <a class="text-primary" asp-action="EditTeacher" asp-controller="Principal" asp-route-teacherid="@item.MemberId" asp-route-schoolid="@schoolId">Editează</a>
                            </td>
                            <td>
                                <a href="#" class="text-primary" onclick="deleteInfo('@item.FirstName @item.LastName', '@item.MemberId', '@item.SchoolId');">
                                    Șterge
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        
        <br/>
        <p class="error-message-light">@ViewData["removeTeacherErrorMessage"]</p>

        <div id="myModal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 id="deletedElement"></h3>
                    <span class="close">&times;</span>
                </div>
                <div class="modal-body">
                    <p>Confirmați finalizarea operației</p>
                </div>
                <div class="modal-footer">
                    <input id="teacherid" type="hidden" />
                    <input id="schoolid" type="hidden" />
                    <button onclick="route();" class="btn btn-primary">Ok</button>
                    <button id="giveUp" class="btn btn-primary">Renunță</button>
                </div>
            </div>
        </div>

    }
    else
    {
        <hr style="border-color:aliceblue;" />
        <p class="text-primary">Nu există profesori înregistrați pentru această instituție</p>
    }

    <a asp-action="AddTeachers" class="btn btn-outline-primary" asp-route-schoolid="@schoolId">Adaugă profesori</a>
    <br />
    <br />
    <a asp-action="Index" class="text-primary">Întoarce-te la pagina principală</a>
</div>

@section Scripts {
    <script src="~/js/removeNavbarCollapse.js"></script>
    <script src="~/js/colorPrincipalPage.js"></script>
    <script src="~/js/modal.js"></script>
    <script>
        function deleteInfo(name, teacher, school)
        {
            deletedElement.innerHTML = "Stergeți " + name;
            modal.style.display = "block";
            document.getElementById("teacherid").value = teacher;
            document.getElementById("schoolid").value = school;
        }

        function route() {
            let teacherid = document.getElementById("teacherid").value;
            let schoolid = document.getElementById("schoolid").value;

            let link = document.createElement("a");
            link.setAttribute("href", "/Principal/RemoveTeacher?teacherid=" + teacherid + "&school=" + schoolid);
            link.click();
        }
    </script>
    @if (member != null)
    {
        <script>
        popi = document.getElementById("popi");
        popi.title = '<span class="text-center d-block">@member.UserName</span>';
        popi.setAttribute("data-content",
            '<!DOCTYPE html><html><p class="text-center">@member.FirstName @member.LastName</p>' +
            '<a href="../Account/Logout" class="btn btn-dark text-light">Deconectare</a></html>');
        </script>
    }
    else
    {
        <script>
            location.href = "../Account/Login";
        </script>
    }

}