@model GammaClient.ViewModels.MarkVM
@inject GammaClient.Services.MemberClient _memberClient;

@{
    ViewData["Title"] = "Note";
    var studentid = ViewBag.studentid;
    var courseid = ViewBag.courseid;
    var member = await _memberClient.GetCurrentClient();
}

<div style="background-color:#EED75A" class="container-fluid text-dark pt-3 pb-4">
    <div class="container">
        <h2>Adaugă un calificativ</h2>
    </div>
</div>
<div class="container mt-3 pb-3">
    <div class="row">
        <div class="col-md-6">
            <form asp-action="AddMark">
                <div asp-validation-summary="ModelOnly" class="text-dark"></div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control border-dark" />
                    <span asp-validation-for="Date" class="text-dark"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Value" class="control-label"></label>
                    <input asp-for="Value" class="form-control border-dark" />
                    <span asp-validation-for="Value" class="text-dark"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Note" class="control-label"></label>
                    <input asp-for="Note" class="form-control border-dark" />
                    <span asp-validation-for="Note" class="text-dark"></span>
                </div>
                <input type="hidden" asp-for="StudentId" value="@studentid" />
                <input type="hidden" asp-for="CourseId" value="@courseid" />
                <div class="form-group">
                    <input type="submit" value="Adaugă" class="btn btn-outline-light btn-outline-yellow" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-controller="Teacher" asp-action="ShowMarks" asp-route-studentid="@studentid" asp-route-courseid="@courseid">Înapoi la lista cu note</a>
    </div>
</div>
@section Scripts {
    <script src="~/js/removeNavbarCollapse.js"></script>
    <script src="~/js/colorTeacherPage.js"></script>
    @if (member != null)
    {
        <script>
            var popi = document.getElementById("popi");
            popi.title = '<span class="text-center d-block">@member.UserName</span>';
            popi.setAttribute("data-content",
                '<!DOCTYPE html><html><p class="text-center">@member.FirstName @member.LastName</p>' +
                '<a href="../../../Account/Logout" class="btn btn-outline-light btn-outline-yellow">Deconectare</a></html>');
        </script>
    }
    else
    {
        <script>
            location.href = "../Account/Login";
        </script>
    }
}