@using GammaClient.ViewModels;
@inject GammaClient.Services.MemberClient _memberClient;

@model IEnumerable<CourseVM>
@{
    ViewData["Title"] = "Acasă";
    var department = ViewBag.department;
    var schoolid = ViewBag.teacherSchoolId;
    var member = await _memberClient.GetCurrentClient();
}

    <div style="background-color:#EED75A" class="container-fluid text-dark pt-3 pb-4">
        <div class="container">
            <h2>Cursuri predate</h2>
        </div>
    </div>
    <div class="container mt-3 pb-3">
        @if (Model.Any())
        {
            
            <!--<hr class="border-dark"/>-->
            foreach (var courseVM in Model)
            {
                <div class="card h-100 mt-3 w3-animate-opacity" style="border-color:#ccb538">
                    <div class="modal-header" style="border-color:#ccb538">
                        <h3>@courseVM.Name</h3>
                        <span class="my-close" onclick="deleteCourse('@courseVM.Name', '@courseVM.CourseId')">&times;</span>
                    </div>
                    <div class="card-body d-flex flex-column align-items-start" style="border-color:#ccb538">
                        <h5>@courseVM.Description</h5>
                        <h6><span>Domeniu de studiu:</span>&nbsp;@courseVM.FieldOfStudy</h6>
                        <h6><span>Grupa de studiu:</span>&nbsp;@courseVM.Grade</h6>
                        <br />
                        <div class="d-flex flex-row align-content-center justify-content-around">
                            <a class="btn btn-outline-light btn-outline-yellow mt-auto mr-4" asp-action="editCourse"
                               asp-controller="Teacher" asp-route-courseid="@courseVM.CourseId">
                                Editează
                            </a>
                            <a class="btn btn-outline-light btn-outline-yellow mt-auto" asp-action="ShowStudents"
                               asp-controller="Teacher" asp-route-courseid="@courseVM.CourseId">
                                Afișează studenții participanți
                            </a>
                        </div>
                    </div>

                </div>
            }
            <a class="btn btn-outline-light btn-outline-yellow" style="margin-top: 20px; width:auto" asp-controller="Teacher" asp-action="createCourse">
                Adaugă un curs
            </a>

            <div id="myModal" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 id="deletedElement"></h3>
                        <span class="close">&times;</span>
                    </div>
                    <div class="modal-body">
                        <p>Atenție! Ștergerea cursului determină eliminarea automată a studenților din fișa cursului</p>
                    </div>
                    <div class="modal-footer">
                        <input id="courseid" type="hidden" />
                        <button onclick="routeCourse();" class="btn btn-otuline-light btn-outline-yellow">Ok</button>
                        <button id="giveUp" class="btn btn-otuline-light btn-outline-yellow">Renunță</button>
                    </div>
                </div>
            </div>
        }
        else
        {
            if (schoolid != null && department != null)
            {
                <div class="card text-dark">
                    <div class="card-header">
                        Nu s-au găsit cursuri predate
                    </div>
                    <div class="card-body">
                        <a class="btn btn-outline-light btn-outline-yellow mt-auto" style="width:auto" asp-controller="Teacher" asp-action="createCourse">
                            Adaugă un curs
                        </a>
                    </div>
                </div>
            }
            else
            {
                <div class="card text-dark">
                    <div class="card-body">
                        Cont de profesor inactiv. Trebuie să predați la o școală existentă și să aparțineți unui departament!
                    </div>
                </div>
            }

        }
    </div>
@section Scripts {
    <script src="~/js/removeNavbarCollapse.js"></script>
    <script src="~/js/colorTeacherPage.js"></script>
    <script src="~/js/modal.js"></script>
    <script>
        function deleteCourse(name, courseid) {
            deletedElement.innerHTML = "Stergeți cursul " + name + "?";
            modal.style.display = "block";
            document.getElementById("courseid").value = courseid;
        }

        function routeCourse() {
            let courseid = document.getElementById("courseid").value;

            let link = document.createElement("a");
            link.setAttribute("href", "/Teacher/rmvcourse/" + courseid);
            link.click();
        }
    </script>
    @if (member != null)
    {
        <script>
            var popi = document.getElementById("popi");
            popi.title = '<span class="text-center d-block">@member.UserName</span>';
            popi.setAttribute("data-content",
                '<!DOCTYPE html><html><p class="text-center">@member.FirstName @member.LastName</p>' +
                '<a href="../Account/Logout" class="btn btn-outline-light btn-outline-yellow">Deconectare</a></html>');
        </script>
    }
    else
    {
        <script>
            location.href = "../Account/Login";
        </script>
    }
}
