@model IEnumerable<GammaClient.ViewModels.MarkVM>
@inject GammaClient.Services.MemberClient _memberClient;

@{
    ViewData["Title"] = "Note";
    var studentName = ViewBag.studentName;
    var courseName = ViewBag.courseName;
    var studentid = ViewBag.studentid;
    var courseid = ViewBag.courseid;
    var member = await _memberClient.GetCurrentClient();
}

<div style="background-color:#EED75A" class="container-fluid text-dark pt-3 pb-4">
    <div class="container">
        <h2>@studentName</h2>
        <hr class="border-dark" />
        <h4>Note la disciplina @courseName</h4>
    </div>
</div>
<div class="container mt-3 pb-3">

    @if (Model.Any())
    {
        <table class="table border-dark">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Value)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Note)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Value)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Note)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Nu ați adăugat nicio notă</p>
    }
    <br />
    <a asp-controller="Teacher" asp-action="AddMark" asp-route-courseid="@courseid" asp-route-studentid="@studentid" class="btn btn-outline-light btn-outline-yellow">Adăugați o notă</a>
    <br />
    <br />
    <a asp-controller="Teacher" asp-action="ShowStudents" asp-route-courseid="@courseid">Înapoi la lista de studenți</a>
</div>
@section Scripts {
    <script src="~/js/removeNavbarCollapse.js"></script>
    <script src="~/js/colorTeacherPage.js"></script>
    @if (member != null)
    {
        <script>
            var popi = document.getElementById("popi");
            popi.title = '<span class="text-center d-block">@member.UserName</span>';
            popi.setAttribute("data-content",
                '<!DOCTYPE html><html><p class="text-center">@member.FirstName @member.LastName</p>' +
                '<a href="../../../Account/Logout" class="btn btn-outline-light btn-outline-yellow">Deconectare</a></html>');
        </script>
    }
    else
    {
        <script>
            location.href = "../Account/Login";
        </script>
    }
}
